body.scrollBeyond {
    margin-bottom: 100vh;
}
nav {
    border: 1px solid;
    padding-left: 10px;
}
h2 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
h3 {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}
h4 > span {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
h5 > span {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
.vscode-light table, .vscode-light th, .vscode-light td {
    border-color: black;
}
th, td {
    padding: 3px;
}
.box {
    border-style: solid;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 60%;
}
.spoiler {
    color: black;
    background-color: black;
}
.spoiler:hover {
    color: white;
}
.cell-l {
    text-align: left;
}
.cell-c {
    text-align: center;
}
.cell-r {
    text-align: right;
}
.image-s, .image-sl, .image-sr {
    max-width: 300px;
    max-height: 200px;
}
.image-s {
    display: block;
}
.image-sl {
    float: left;
    margin-right: 2px;
}
.image-sr {
    float: right;
    margin-left: 2px;
}
.image-l, .image-ll, .image-lr {
    max-width: 750px;
    max-height: 500px;
}
.image-ll {
    float: left;
    margin-right: 2px;
}
.image-lr {
    float: right;
    margin-left: 2px;
}
.video-l, .video-r {
    display: block;
}
